html, 
body {
    height: 100%;
}

h1 {
    color:rgb(4, 0, 255);
    font-size: 2em;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
}

p{
    color:grey;
    font-size: 1.2em;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;

}

.navbar {
    background-color: white;
}

.logo{
    width:200px;
    height:auto;
}

.cover {
    
    background-size: cover;
    min-height: 100%;
}

.tit-sec {
    margin-top:5%;
}
/* Home */

.cover-img {
    width:100vw;
    height:400px;
    overflow: hidden;
    margin-left:-20px;
}

.cover-img img{
    width:100%;
    margin-top:-30%;
}

.category {
    height:450px;
    overflow: hidden;
}
.category-select :hover {
    opacity:.5;
    transition-delay: 0.1s;
    transition: linear;
}

/* Bio */

.text-bio {
    padding:5% 0;
}

.bio-img img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* Portfolio */

#gallery {
    width:100%;
    height:100%;
    padding-bottom: 10%;
}

.img-fluid {
    padding:15px 0px;
}

/* Contacto */

.form-control {
    appearance: none;
    border-radius: 0px;
    margin: 20px 0;
}
.textarea {
    width:100%;
    height:200px;
}

.btn {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0px;
    background-color: rgb(4, 0, 255);
    color:white;
    float: left;
    margin-bottom: 50px;
}
.btn:hover{
    background-color: white;
    color: rgb(4, 0, 255);
    border:1px solid rgb(4, 0, 255);
}


/* Footer */

footer {
    position: fixed;
    bottom:0px;
    background-color: rgb(102, 102, 102); 
}
.footer-text {
    color:white;
}

.contacto {
    padding: 10px;
}

.contacto a{
    font-weight: 200;
    color:white;
    font-family: 'Gothic A1', sans-serif;
}
.contacto a:hover {
    color:#bbbbbb;
    text-decoration: none;
}